body {
  background: #fff5e6 url(../images/bg.gif) center repeat-y;
  margin: 0;
  font-family: "Lucida Grande","Verdana","Gargi_1.7","Jamrul","Garuda","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #333;
  font-size: 100%;
  line-height: 1.2em;
}
/*link hovering color*/
body a:hover{
  color:#000;
}

img {
  width:100%;
  height: auto;
}


@media only screen and (max-width: 400px) {
  #page-wrapper {
    width: 90%;
    margin: 0 auto;
  } 
}
@media (min-width: 400px) and (max-width: 720px) {
  #page-wrapper {
    width: 85%;
    margin: 0 auto;
  } 
}
@media (min-width: 720px) and (max-width: 1100px) {
  #page-wrapper {
    width: 80%;
    margin: 0 auto;
  } 
}
@media (min-width: 1100px) {
  #page-wrapper {
    width: 1000px;
    margin: 0 auto;
  } 
}
.page-taxonomy .content-wrapper,
.page-node- .content-wrapper ,
.page-contactus .content-wrapper,
.node-type-about-us .content-wrapper,
.front .content-wrapper{
  width:46%;
  margin: 0px ;
  text-align: left;
  padding: 15px 2%;
  display: inline-block;
  float: left;

}

.node-type-webform .content-wrapper, 
.content-wrapper{ 
  width: 66%;
  padding : 15px 2%;
  float: left;
}

.page-taxonomy .sidebar-first-wrapper,
.page-taxonomy .sidebar-second-wrapper,
.page-node- .sidebar-first-wrapper,
.page-node- .sidebar-second-wrapper,
.page-contactus .sidebar-first-wrapper,
.page-contactus .sidebar-second-wrapper,
.node-type-about-us .sidebar-first-wrapper,
.node-type-about-us .sidebar-second-wrapper,
.front .sidebar-first-wrapper,
.front .sidebar-second-wrapper{
    width: 22%;
}

/*making videos frame responsive*/
#block-fb-social-facebook iframe,
#block-fb-social-facebook fb:like-box,
#block-views-main-content-block-4 iframe{
  width: 100% !important;
  height: auto !important;
}
.fb_iframe_widget span,
.fb_iframe_widget iframe,
.fb_iframe_widget{
  width: 100% !important;
}
.sidebar-second-wrapper,
.sidebar-first-wrapper{
  display: inline-block;
  float: left;
  width: 27%;
  padding:1.5%;
  margin:auto; 
}
/*second side bar videos*/
.sidebar-second-wrapper iframe{
  width: 100%;
  height: auto;
  margin-top:0px;
}
/*footer*/
#footer-wrapper{
  display: none;
  }

#menu-bar{
  display: inline-block;
  width: 100%;
  text-decoration: none;
  background: #9c0e0b;
  height: 40px;

}
/*menu buttons*/
.menu-container ul.menu li{
  list-style: none;
  display: inline;
  font-weight: bold;
  font-size: 1.4em;

}
.sidebar-second-wrapper{
  margin-top: -19px;
}
.menu-container ul.menu li a{
  text-decoration: none;
  color: #fff;
  text-align: center;
}

a{
  text-decoration: none;
  color: #cc0000;
}
ul.menu{
   text-align: center;

}
#header-wrapper{
  height: 93px;
  background: #c0110d;
  padding: 0px;
  margin: 0px;
}
#logo{
  width: 400px;
  height: 65px;
  float: left;
  margin-top: 10px;
}
.menu-container ul.menu li a:hover,
.menu-container ul.menu li a.active
{
  color: #f5c725;
}
.breadcrumb{
  display: none;
}
#first-time{
  display: none;
}
#block-views-main-content-block-5{
  margin-bottom: 
}

#block-fb-social-facebook{
  width: 92%;
}

#views-main-content-block-5 {
padding-bottom: 50px;
}
.highlighted-container{
  padding-left: 21px;
  padding-top: 10px;
  font-size: 1.5em;
  line-height: 30px
}
.view-admin-views-taxonomy-term{
  overflow-y:scroll;
}
#block-block-1 {
padding: 10px;
background: #fff5e6;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
font-size: 0.75em;
}
/*for keeping the menu bar in centre vertically*/
.content .menu {
  margin-top: 11px;
}


/*video page*/

.view-display-id-page_3 {
width: 100%;
  font-size: 0.75em;
}
/*video page img*/
.page-video img {
  height: 100px;
  width: 130px;
  border: 5px solid #cacaca;
}
.page-video img:hover {
  border: 5px solid #fff5e6;
}
/*video page img alignment*/
.page-video .views-row {
  width: 25%;
  float: left;
}


/*shop images*/

.shop .view-content .views-row {
  width: 25%;
  float: left;
}
.shop .view-content .views-row img{
  width: 150px;
  height: 232px;
  border: 5px solid #cacaca;
}
.shop .view-content .views-row img:hover{
  border: 5px solid #fff5e6;
}


#block-fb-social-facebook {
  display:table;
}

/*main content link*/
.view-main-content.view-display-id-block_1 .views-field-title a{
  font-size: 18px;
  font-weight: bold;
  line-height: 110%;
}

/*side bar links*/
.sidebar-second-wrapper a,
.sidebar-first-wrapper  a {
  font-size: 12px
}

/*date styling*/
body .views-field-created{
  font-size: 0.75em;
  color: #777;
}

/*front page body size*/
body .views-field-body{
  font-size: 0.75em;
}

/*all pages body size*/
.field-item p{
  font-size: 0.75em;
}

.node-type-content-entry .field-type-taxonomy-term-reference {
font-size: 12px;
}

h2{
  line-height: 110%;
}

/*contactus page*/
.views-label-field-tel-no- ,
.views-field-field-tel-no-,
.views-field.views-field-field-email {
  font-size: 12px;
}
.contactus .views-row{
  padding-bottom: 40px
}

/*highlighted region*/
.highlighted-container {
  font-size: 29px;
  font-weight: bold;
}

.contactus .views-field-title{
  font-weight: bold;
}

/*link box aboutus page*/
.sidebar-first-content .content p a {
  font-size: 18px;
  font-weight: bold;
}

.view-display-id-block img{
  padding-bottom: 40px;
}
.node-type-webform .wrapper {
font-size: 12px;
}
